.armor-set-form--container {
  margin: 10px 5px 10px 10px;
  
  width: 400px;

  .panel-body{
    padding:0px;
  }

  .armor-set-form-row{
    display: flex;
    flex-direction: row;
    border-top: 1px solid black; 
    // padding-top: 20px;
    // padding-bottom: 14px;
    
    .armor-set-name-col{
      width: 60%;
      text-align: center;
      font-weight: 700;
    }
    .armor-set-slots-col{
      width: 40%;  
      text-align: center;
      font-weight: 700;      
    }

    .armor-set-form-col{
      display: flex;
      flex-direction: row;
      margin-top:14px;
      margin-bottom: 14px;
      width: 60%;
    }

    .armor-set-form--setname{
      width: 100%;
    }

    .armor-set-form--charm-p{
      margin-top: 40px;
    }
    // .armor-set-form--charm{
    //   .decoration-container{
    //     margin-top: 30px;
    //   }
    // }

    .search-container{
      margin-right: 20px;
      margin-bottom: 0px;
      // width:190px;
    }
  }
}