.table-style-art{
  border: 1px solid black;
  tr{
    border: 1px solid black;
  }
  td{
    .search-container{
      width: 100%;
      .search-menu{
        margin-bottom: -100px;
      }
    }
  }
}