.style-and-arts--container {
  align-self: center;
  width: 400px;
  margin: 0 20px 0 20px;

  .search-container{
    padding: 0px;
    margin: 0px!important;    
    input{
      margin: 0px;
    }
  }

 .style-and-arts--row{
  border-top: 1px solid black;
  height: 34px;//34px;
 
  .style-and-arts--text{
    margin: 5px 0px 0px 0px;
    text-align: center;
  }

  .search-menu{
    position: relative;
  }
}


.style-and-arts--head{
  padding: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  height: 34px;
}
.panel-body{
  padding: 0px;
}
}