.style-and-arts--container {
  margin: 10px 5px 10px 10px;
 .style-and-arts--row{
  border: 1px solid black;
  height: 34px;
  .search-menu{
    position: relative;
  }
  }
.style-and-arts--head{
  padding: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}
}

