.style-and-armor--container{
  

}
    .armor-set-form--container {
      align-self: auto;    
    }
    .style-and-arts--container{
      align-self: auto;    
    }

.armor-visibility-toggler, .style-visibility-toggler{
  margin: auto;
}

.backend-error-container{
  width: 50%;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // align-self: center;
  margin-left: 25%;
}

@media (max-width: 380px) {
  .style-and-armor--container {
    width: 360px;
    margin: 0px 0px;
  }
  .armor-set-form--container {
    margin: 0px 0px 10px 0px;
  }
  .style-and-arts--container{
    margin: 10px 0px 10px 0px;    
  }
}