.App {
  text-align: center;
}

body {
  background-color: lightgreen;
}

.main-container{
  text-align: center;
  margin: auto;
}

#submissions, #form-table {
  width:912px;
  margin: auto;
  border-collapse: collapse;
}

button {
  background-color: darkgreen;
  color: white;
  text-align: auto;
  text-decoration: none;
  border:none;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

.counter-button {
  padding: 1px 10px;
  margin-top: 19.5px;
}

.submit-button {
  padding: 10px 5px;  
  height: 40px;  
  width: 100px;
}

tbody > tr > td {
  background-color: white;
  padding:15px 15px 15px 15px;  
  border-bottom:2px solid lightgreen;
  color: #505050;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

thead>tr>td{
  background-color: white;
  border-bottom:2px solid lightgreen;
  color: #505050;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  padding: 15px 15px 16px 15px;
}

thead {
  height: 48px;
  /*color: #757575;*/
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

/*form{
  background-color: white;
  display: inline-block;
  width: 912px;
  border-bottom: 4px solid lightgrey;
}*/

.create-row > td{
  border-right: 0px solid white;
  padding: 16px 0px 16px 16px;
}

.create-row > td:nth-child(4){
  padding-left: 0px;
}

.create-row > td:last-child{
  text-align: center;
  /*vertical-align: top;*/
  width: 40%;
}

.create-row > td:nth-child(2), .create-row > td:nth-child(3){
  padding-left:10px;
}

.create-row > td:nth-child(2) > input {
  width:200px;
}

.create-row > td:first-child > input {
  width: 100px;
}

.create-input {
  height: 34px;
  float: left;
}

.create-input, input{
  padding-left: 10px;
}

.create-row > td:nth-child(3) > input {
  width:50px;
  text-align: center;
}

h1 {
  background-color: darkgreen;
  margin-top:0px;
  text-align: left;
  padding:32px;
  line-height: 32px;
  color: white;
}

h2 {
  /*text-align: left;*/
  width:912px;
  margin: auto;
  color: darkolivegreen;
  padding:30px 0px 15px 0px;
}

.timer-group {
    width: 90px;
    height: 40px;    
    /*border: 1px solid black;*/
    
}

.timer-group > div {
    float: left;
    width: 28px;
    height: 20px;
}

.timer-input {
    width: 20px;
    height: 14.5px;
    padding: 1px 2px 1px 2px;
    text-align: center;
    float: initial;
}
.timer-unit{
    margin:0px;
    margin-bottom: 2px;
    height: 15px;
}

.styled-select {
   /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
   height: 29px;
   /*overflow: hidden;*/
   background: transparent;
   border: none;
   font-size: 14px;
   height: 34px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 100px;
   color: white;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.green   { background-color: #779126;}
