.App__h1 {
  background-color: darkgreen;
  margin-top:0px;
  text-align: left;
  padding:32px;
  line-height: 32px;
  color: white;
}

.App {
  text-align: center;
}

body {
  background-color: lightgreen;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
