$primary-color: #002b36;
$success-color: #2aa198;
$secondary-color: #073642;

 .search-menu {
  max-height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.search-container {
  margin-left:15px!important; 
}

.search-menu--item {
  background-color: $secondary-color;
  border-block-start: 0 $secondary-color;
  border-top: 1px solid black;
  padding: 10px;
}

.search-menu--item:hover{
  background: $success-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from($primary-color),to($success-color));
  background-image: -webkit-linear-gradient(bottom right, $primary-color, $success-color);
  background-image: -moz-linear-gradient(bottom right, $primary-color, $success-color);
  background-image: linear-gradient(to bottom right, $primary-color, $success-color);
  // color: white;
}

@media (max-width: 540px){
.search-container {
  margin-left:-15px!important; 
}
}