.select-time{
  width: 40px;
}

.select-time__input::-webkit-inner-spin-button,
.select-time__input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}

 .select-time__input{
  width: 30px;
  margin:0px;
} 

.button-timer{
  margin:0px;
}