.time--container{
  width: 217px;
  margin-left: 15px !important;
  display: flex;
  flex-direction: row;
}

.select-time--container{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   margin-top:1px;
  /* border: 1px solid black; */

  .select-time__input{
    margin:0px; 
    width: 30px;
    height: 30px;
    padding: 1px 2px 1px 2px;
    text-align: center;
    float: initial;
  }  
}

.select-time__input::-webkit-inner-spin-button,
.select-time__input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}


@media (max-width: 540px) {
  .time--container{
    margin-left: -15px !important;
    flex-direction: column;    
    .select-time--container{
      margin-bottom: 10px;
    }  
  }
}